* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 20px 80px;
  background-color: royalblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar > figure {
  display: flex;
  gap: 10px;
}
.navbar span {
  font-size: 20px;
}
.navbar a {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
  font-size: 20px;
}

.container1 {
  height: 80vh;
  width: 80vw;
  background-color: lightblue;
  margin: 40px auto;

  display: flex;

  flex-direction: row;

  align-items: center; /* Y-axis : flex-start, flex-end, center */

  /* X-axis : flex-start, flex-end, center, space-around, space-evenly, space-between */
  justify-content: center;
  gap: 20px;
}

.container1 > .item {
  height: 200px;
  width: 200px;
  background-color: blue;
  color: white;
  font-size: 80px;
}
